<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="text-align: center">Oups !!! Sorry...</h1>
    <h4 style="text-align: center">
      we are only available from Monday to Friday, 9 a.m. to 5 p.m.
    </h4>
    <img
      src="https://previews.123rf.com/images/irinashatilova/irinashatilova1906/irinashatilova190600275/125449853-template-reports-that-the-page-is-not-found.jpg"
      alt=""
      style="height: 700px; display: block; margin: 20px auto"
    />
  </body>
</html>
